@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
    var rolUsuario = Context.Session.GetString("Rol");
}

<body class="home-page">
    <div class="container home-section d-flex flex-wrap justify-content-center gap-4">
        <!-- Tarjeta de Equipos -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-people-fill"></i> Equipos</h4>
            <p>Administra los equipos participantes del campeonato MotoGP.</p>
            <a href="/Equipos/Index" class="btn btn-outline-light mt-2">Ver Equipos</a>
        </div>

        <!-- Tarjeta de Pilotos -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-person-vcard"></i> Pilotos</h4>
            <p>Registra y gestiona los pilotos de cada equipo.</p>
            <a href="/Pilotos/Index" class="btn btn-outline-light mt-2">Ver Pilotos</a>
        </div>
        <!-- Tarjeta de Carreras -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-flag-fill"></i> Carreras</h4>
            <p>Gestiona las competencias, registra resultados y asigna puntos.</p>
            <a href="/Carreras/Index" class="btn btn-outline-light mt-2">Ver Carreras</a>
        </div>
        <!-- Tarjeta de Grandes Premios -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-globe2"></i> Grandes Premios</h4>
            <p>Gestiona los grandes premios disponibles para el campeonato.</p>
            <a href="/GrandesPremios/Index" class="btn btn-outline-light mt-2">Ver GP</a>
        </div>

        <!-- Tarjeta de Circuitos -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-geo-alt-fill"></i> Circuitos</h4>
            <p>Administra los circuitos en los que se corren los eventos.</p>
            <a href="/Circuitos/Index" class="btn btn-outline-light mt-2">Ver Circuitos</a>
        </div>

        <!-- Tarjeta de Países -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-flag-fill"></i> Países</h4>
            <p>Consulta y gestiona los países asociados a los eventos y circuitos.</p>
            <a href="/Paises/Index" class="btn btn-outline-light mt-2">Ver Países</a>
        </div>

        <!-- Tarjeta de Jefes -->
        <div class="card card-bg-dark text-center p-4 shadow-lg" style="width: 22rem;">
            <h4 class="mb-3"><i class="bi bi-flag-fill"></i> Jefes de equipo</h4>
            <p>Gestión de responsables por escudería.</p>
            <a href="/JefesDeEquipo/Index" class="btn btn-outline-light mt-2">Ver Jefes</a>
        </div>
    </div>

    </div>
</body>
